html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.nested-actions a:first-child {
    margin-right: 0;
    margin-left: 5px;
}

span.fancytree-empty,
span.fancytree-vline,
span.fancytree-expander,
span.fancytree-icon,
span.fancytree-checkbox,
span.fancytree-radio,
span.fancytree-drag-helper-img,
#fancytree-drop-marker {
    background: none;
}

span.fancytree-node {
    margin-top: 5px;
}

form div.required label.control-label:after {
    content: " * ";
    color: red;
}
.td-v-align {
	vertical-align: middle !important;
}
.td-foot-total {
	text-align: right;
	padding-right: 150px !important;
}
.for-reg-check {
	display: inline-block;
	width: 24px;
	height: 22px;
	background-color: #fff;
	border: 1px solid #adadad;
	border-radius: 3px;
	position: relative;
	top: 3.8px;
	padding-left: 4.5px;
	cursor: pointer;
}
.for-reg-check > input {
	cursor: pointer;
}
#fund-name-pjax {
	width: 65%;
	display: inline-block;
}
.fund-buttons-container {
	display: inline-block;
	float: right;
}
#del-fund-btn {
	width: 128px;
}
.fund-btns-row-2 {
	text-align: center;
	margin-top: 20px;
}
#fund-name-tbl tbody tr {
	cursor: pointer;
}
.avail-product {
	display: block;
	text-decoration: underline;
	text-decoration-style: dashed;
}
.avail-product:hover, .avail-product:focus {
	text-decoration-style: dashed;
}
.product-card-description, .product-card-price-btns {
	display: inline-block;
}
.product-card-price-btns {
	float: right;
}
#update-price-modal {
	top: 120px;
}
.fund_percent_input {
	width: 25%;
	float: right;
}