AddDefaultCharset UTF-8

Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# redirect for www both http and https
RewriteCond %{HTTP_HOST} ^www\..+$
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^(.*)$ http%1://vsemdostupno.dev%{REQUEST_URI} [L,R=301]

# redirect for bydemzdorovi.ru both http and https
RewriteCond %{HTTP_HOST} ^bydemzdorovi.ru$
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^(.*)$ http%1://vsemdostupno.dev%{REQUEST_URI} [L,R=301]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
